# Jupyter Notebook
neural-networks-deep-learning/python-numpy-basics/.ipynb_checkpoints
neural-networks-deep-learning/planar-data-classification-with-a-hidden-layer/.ipynb_checkpoints
neural-networks-deep-learning/logistic-regression-with-a-neural-network-mindset/.ipynb_checkpoints
neural-networks-deep-learning/building-your-deep-neural-network-step-by-step/.ipynb_checkpoints
improving-deep-neural-networks/tensorflow-tutorial/.ipynb_checkpoints
improving-deep-neural-networks/gradient-checking/.ipynb_checkpoints
improving-deep-neural-networks/initialization/.ipynb_checkpoints
improving-deep-neural-networks/optimization-methods/.ipynb_checkpoints

# Datasets
neural-networks-deep-learning/logistic-regression-with-a-neural-network-mindset/datasets/*.h5
neural-networks-deep-learning/deep-neural-network-application/datasets/*.h5
improving-deep-neural-networks/tensorflow-tutorial/datasets/*.h5
improving-deep-neural-networks/optimization-methods/datasets/data.mat