# Jupyter Notebook
neural-networks-deep-learning/python-numpy-basics/.ipynb_checkpoints
neural-networks-deep-learning/planar-data-classification-with-a-hidden-layer/.ipynb_checkpoints
neural-networks-deep-learning/logistic-regression-with-a-neural-network-mindset/.ipynb_checkpoints
neural-networks-deep-learning/building-your-deep-neural-network-step-by-step/.ipynb_checkpoints

improving-deep-neural-networks/tensorflow-tutorial/.ipynb_checkpoints
improving-deep-neural-networks/gradient-checking/.ipynb_checkpoints
improving-deep-neural-networks/initialization/.ipynb_checkpoints
improving-deep-neural-networks/optimization-methods/.ipynb_checkpoints
improving-deep-neural-networks/regularization/.ipynb_checkpoints

convolutional-neural-networks/keras-tutorial/.ipynb_checkpoints
convolutional-neural-networks/cnn-basics/.ipynb_checkpoints
convolutional-neural-networks/residual-network/.ipynb_checkpoints
convolutional-neural-networks/face-recognition/.ipynb_checkpoints
convolutional-neural-networks/art-generation-neural-style-transfer/.ipynb_checkpoints
convolutional-neural-networks/car-detection-yolo/.ipynb_checkpoints


# Datasets
neural-networks-deep-learning/logistic-regression-with-a-neural-network-mindset/datasets/*.h5
neural-networks-deep-learning/deep-neural-network-application/datasets/*.h5

improving-deep-neural-networks/tensorflow-tutorial/datasets/*.h5
improving-deep-neural-networks/optimization-methods/datasets/data.mat
improving-deep-neural-networks/regularization/datasets/data.mat
improving-deep-neural-networks/regularization/datasets/*.h5

convolutional-neural-networks/keras-tutorial/datasets/*.h5
convolutional-neural-networks/cnn-basics/datasets/*.h5
convolutional-neural-networks/residual-network/datasets/*.h5
convolutional-neural-networks/residual-network/*.h5
convolutional-neural-networks/face-recognition/datasets/*.h5
convolutional-neural-networks/face-recognition/*.h5
convolutional-neural-networks/car-detection-yolo/model_data/*.h5

convolutional-neural-networks/art-generation-neural-style-transfer/pretrained-model/*.mat

convolutional-neural-networks/car-detection-yolo/nb_images/*.mp4
